<app-tree-header></app-tree-header>
<div
  class="row"
  style="
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 8rem;
  padding-bottom: 3rem;"
>
  <div class="col-3 text-center my-auto">
    <div class="btn-group" role="group">
      <button
        type="button"
        class="btn btn-danger active"
        style="
        white-space: normal;
        border-radius: 20px;"
      >
        Segurança Rodoviária C e D
      </button>
    </div>
  </div>
  <div class="col-6 text-center my-auto">
    <div
      class="btn-group-vertical btn-block"
      role="group"
      style="
      padding-left: 4rem;
      padding-right: 4rem;"
    >
      <button
        type="button"
        class="btn btn-dark"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        Condução de automóveis pesados e a segurança rodoviária
      </button>
      <button
        type="button"
        class="btn btn-dark"
        style="
        white-space: normal;
        border-radius: 20px;"
      >
        Equipamentos de segurança
      </button>
    </div>
  </div>
</div>
