<div id="title" class="row card-header bg-light shadow-sm">
  <h4>Gestão de Conteúdos</h4>
</div>
<div class="row mt-3 mb-5">
  <div class="col-3">
    <accordion [isAnimated]="true" [closeOthers]="true">
      <accordion-group #sinalization heading="Sinalização">
        <accordion [isAnimated]="true" [closeOthers]="true">
          <div class="panel card panel-default">
            <div class="panel-heading card-header panel-enabled">
              <button
                class="btn btn-link"
                (click)="openContent = 1; getSignType(1)"
              >
                Sinais de Perigo
              </button>
            </div>
          </div>
        </accordion>
      </accordion-group>
    </accordion>
  </div>
  <div class="col-9">
    <!-- Sign Type -->
    <div class="card" *ngIf="openContent === 1">
      <div class="card-header">{{ title }}</div>
      <div class="card-body pr-5 pl-5">
        <div class="row">
          <div class="col-9"></div>
          <div class="col-3">
            <div class="ml-5">
              <button
                type="button"
                class="btn btn-primary btn-sm mr-1"
                (click)="
                  openModal(editSignType, 'modal-md');
                  this.editSignTypeForm.controls['Name'].setValue(
                    this.data.Name
                  );
                  this.editSignTypeForm.controls['Text'].setValue(
                    this.data.Text
                  );
                  this.editSignTypeForm.controls['Placement_Text'].setValue(
                    this.data.Placement_Text
                  )
                "
              >
                <fa name="plus"></fa> Editar
              </button>
              <button
                type="button"
                class="btn btn-success btn-sm"
                (click)="
                  getSigns(this.data['idTraffic_Signs_Type']);
                  openModal(signsModal, 'modal-lg')
                "
              >
                <fa name="plus"></fa> Sinais
              </button>
            </div>
          </div>
          <div class="col-11 m-auto">
            <p class="w-100 mt-3"><b>Nome: </b>{{ data.Name }}</p>
            <p class="w-100"><b>Texto: </b>{{ data.Text }}</p>
            <p class="w-100">
              <b>Texto de Colocação: </b>{{ data.Placement_Text }}
            </p>
            <p class="w-100"><b>Imagem de Colocação: </b></p>
            <img
              class="mb-3 rounded"
              width="40%"
              src="{{ data.Placement_Image_Route }}"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #editSignType>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Editar Tipo de Sinal</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      [formGroup]="editSignTypeForm"
      (submit)="editSignTypeF(this.editSignTypeForm.value)"
    >
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Nome</span>
        </div>
        <input
          formControlName="Name"
          type="text"
          class="form-control"
          placeholder="Nome do Tipo de Sinal"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Texto</span>
        </div>
        <textarea
          formControlName="Text"
          class="form-control"
          placeholder="Texto"
        ></textarea>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Texto de Colocação</span>
        </div>
        <textarea
          formControlName="Placement_Text"
          class="form-control"
          placeholder="Texto de Colocação"
        ></textarea>
      </div>
      <button
        class="btn btn-outline-primary mb-3"
        type="button"
        (click)="imagePicker.click()"
      >
        Escolher Imagem
      </button>
      <input type="file" #imagePicker class="invisible" />
      <img
        src="{{ this.data.Placement_Image_Route }}"
        class="w-75 mb-3 rounded"
      />
      <div class="w-100">
        <button class="btn btn-primary w-100" type="submit">Guardar</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #signsModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-9"></div>
      <div class="col-3">
        <button
          type="button"
          class="btn btn-success ml-4"
          (click)="addSign(); openModal2(signInfo, 'modal-md')"
        >
          <fa name="plus" inverse="true"></fa>
          Adicionar
        </button>
      </div>
    </div>

    <hr />

    <div class="row p-3">
      <div class="col-4 mb-3" *ngFor="let sign of signs">
        <div class="card">
          <div class="card-body text-center">
            <div style="height: 9rem;">
              <img src="{{ sign.Image_Route }}" width="80%" />
            </div>
            <div class="mt-4">
              <button
                type="button"
                class="btn btn-primary mr-2"
                (click)="getSign(sign.idTraffic_Signs, false)"
              >
                <fa name="edit" inverse="true"></fa>
              </button>
              <button
                type="button"
                class="btn btn-danger ml-2"
                (click)="deleteSign(sign.idTraffic_Signs)"
              >
                <fa name="trash" inverse="true"></fa>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #signInfo>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ signName }}</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef2.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row ml-2 mr-2">
      <form [formGroup]="signForm" (submit)="signF(this.signForm.value)">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nome</span>
          </div>
          <input
            formControlName="Name"
            type="text"
            class="form-control"
            placeholder="Nome do Sinal"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Texto</span>
          </div>
          <textarea
            formControlName="Text"
            class="form-control"
            placeholder="Texto"
          ></textarea>
        </div>
        <button
          class="btn btn-outline-primary mb-3"
          type="button"
          (click)="signImagePicker.click()"
        >
          Escolher Imagem
        </button>
        <input type="file" #signImagePicker class="invisible" />
        <img
          src="{{ this.signInformation.Image_Route }}"
          class="w-25 mb-3 rounded"
        />
        <div class="card mt-2 mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="mb-2">Exemplos</h5>
              </div>
              <div class="col-6">
                <button
                  type="button"
                  class="btn btn-sm btn-success ml-4 mb-2 float-right"
                  (click)="signsExamplesPicker.click()"
                >
                  <fa name="plus" inverse="true"></fa>
                  Adicionar
                </button>
                <input type="file" #signsExamplesPicker class="invisible" />
              </div>
            </div>
            <div class="mb-3" *ngFor="let example of examples">
              <div class="card">
                <div class="card-body text-center">
                  <div style="height: 8rem;">
                    <img
                      class="rounded"
                      src="{{ example.Example_Image_Route }}"
                      height="100%"
                    />
                  </div>
                  <div class="mt-4">
                    <button
                      type="button"
                      class="btn btn-danger ml-2"
                      (click)="deleteExample(example.idTraffic_Signs_Examples)"
                    >
                      <fa name="trash" inverse="true"></fa>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100">
          <button
            class="btn btn-primary w-100"
            type="submit"
            (click)="modalRef2.hide()"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
