.button-center {
  width: 70%;
}
.card-main {
  height: 20rem;
}

body {
  font-family: sans-serif;
  font-size: 15px;
}
.card-body {
  padding: 3%;
}
.sidenav {
  margin-bottom: 0;
}
.sidenav li {
  text-decoration: none;
  display: block;
}
.sidenav li button {
  width: 100%;
}
.main-box {
  height: 17em;
}