<nav
  id="title"
  class="navbar navbar-expand-lg row card-header bg-light shadow-sm navbar"
>
  <h4>Sinalização</h4>
  <div class="collapse navbar-collapse">
    <div class="col-4"></div>
    <ul class="navbar-nav col-5" *ngIf="this.activeDiagram === true">
      <li class="nav-item ml-2 mr-2">
        <button type="button" class="btn btn-outline-secondary">
          Hierarquia
        </button>
      </li>
      <li class="nav-item mr-2">
        <button type="button" class="btn btn-outline-secondary">
          Validade
        </button>
      </li>
      <li class="nav-item mr-2">
        <button type="button" class="btn btn-outline-secondary">
          Colocação
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-secondary">
          Repetição
        </button>
      </li>
    </ul>
    <ul class="navbar-nav col-3" *ngIf="this.activeDiagram === true">
      <li class="nav-item mr-2">
        <button type="button" class="btn btn-outline-danger">
          Sair
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-success">
          Teste Temático
        </button>
      </li>
    </ul>
  </div>
</nav>
<div class="row mt-5 mb-5">
  <div class="col-11 m-auto">
    <div class="card" *ngIf="activeDiagram">
      <div class="card-header">Diagrama Sinalização</div>
      <div class="card-body p-5">
        <app-tree-diagram></app-tree-diagram>
      </div>
      <div class="card-footer text-center">Página Inicial</div>
    </div>
    <div class="card" *ngIf="!activeDiagram">
      <div class="card-header">{{ typeTitle }}</div>
      <div class="card-body pr-5 pl-5">
        <div class="row">
          <div class="col-10 m-auto">
            <div class="row main-box">
              <div
                *ngIf="this.pageNumber === 0"
                class="mr-5 ml-5 mt-auto mb-auto"
              >
                <p align="center">
                  {{ typeDescription }}
                </p>
              </div>
              <div *ngIf="this.pageNumber === 1" class="mr-auto ml-auto h-100">
                <img
                  class="c-p rounded-lg"
                  src="{{ typePlacementImageRoute }}"
                  id="pla-photo"
                  (click)="typePlacementTextActive = !typePlacementTextActive"
                />
                <div
                  id="textPlacement"
                  class="mr-auto ml-auto mt-3"
                  *ngIf="typePlacementTextActive"
                >
                  <p align="center">{{ typePlacementText }}</p>
                </div>
              </div>
              <div *ngIf="this.pageNumber === 2" class="mr-auto ml-auto h-100">
                <div *ngFor="let sign of signsImage; let i = index" class="d-inline">
                  <div (click)="getSign(sign.idTraffic_Signs)" class="d-inline">
                    <hr *ngIf="i % 6 === 0">
                    <img width="12%" src="{{ sign.Image_Route }}" class="c-p ml-2 mr-2"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <a
                  (click)="changePage()"
                  class="ml-5 inv"
                  [ngClass]="{
                    'c-p': this.pageNumber !== 2,
                    'text-dark': this.pageNumber !== 2,
                    'text-muted': this.pageNumber === 2
                  }"
                  ><fa name="play-circle" rotate="horizontal" size="3x"></fa
                ></a>
              </div>
              <div class="col-6">
                <a
                  (click)="changePage()"
                  class="float-right mr-5 inv"
                  [ngClass]="{
                    'c-p': this.pageNumber !== 2,
                    'text-dark': this.pageNumber !== 2,
                    'text-muted': this.pageNumber === 2
                  }"
                  ><fa name="play-circle" size="3x"></fa
                ></a>
              </div>
            </div>
          </div>
          <div class="col-2">
            <ul class="sidenav">
              <li class="mb-5">
                <button class="btn btn-outline-danger" (click)="goToDiagram()">
                  Retroceder
                </button>
              </li>
              <li class="mt-2">
                <button
                  class="btn"
                  (click)="this.pageNumber = 0"
                  [ngClass]="{
                    'btn-secondary':
                      this.pageNumber === 0 || this.pageNumber === 1,
                    'btn-outline-secondary':
                      this.pageNumber !== 0 && this.pageNumber !== 1
                  }"
                >
                  Regras Gerais
                </button>
              </li>
              <li class="mt-2">
                <button
                  class="btn"
                  (click)="this.pageNumber = 2; getSignsImage()"
                  [ngClass]="{
                    'btn-secondary': this.pageNumber === 2,
                    'btn-outline-secondary': this.pageNumber !== 2
                  }"
                >
                  Sinais
                </button>
              </li>
              <li class="mt-5">
                <button class="btn btn-outline-success">Teste Temático</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">Sinalização</div>
    </div>
  </div>
</div>

<ng-template #sign>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ typeTitle }}</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-10">
        <div class="text-center" style="height: 15rem;">
          <img
          src="{{ this.signInformation.Image_Route }}"
          *ngIf="!showExamples"
          class="mb-2 rounded"
        />
          <img
            src="{{ this.signInformation['Examples'][this.exNum].Example_Image_Route }}"
            *ngIf="showExamples"
            class="mb-2 rounded"
          />
        </div>
        <hr />
        <div class="row" *ngIf="showExamples">
          <div class="col-6">
            <a
              (click)="changeExample(-1)"
              class="ml-5 inv"
              [ngClass]="{
                'c-p': this.signInformation['Examples'].length !== 1,
                'text-dark': this.signInformation['Examples'].length !== 1,
                'text-muted': this.signInformation['Examples'].length === 1
              }"
              ><fa name="play-circle" rotate="horizontal" size="3x"></fa
            ></a>
          </div>
          <div class="col-6">
            <a
              (click)="changeExample(1)"
              class="float-right mr-5 inv"
              [ngClass]="{
                'c-p':this.signInformation['Examples'].length !== 1,
                'text-dark': this.signInformation['Examples'].length !== 1,
                'text-muted': this.signInformation['Examples'].length === 1
              }"
              ><fa name="play-circle" size="3x"></fa
            ></a>
          </div>
        </div>
        <h5 align="center">{{ signInformation.Name }}</h5>
        <p align="center">{{ signInformation.Text }}</p>
      </div>
      <div class="col-2">
        <div class="row mb-3">
          <button
            type="button"
            class="btn btn-outline-secondary"
            [disabled]="!this.signInformation['Examples']"
            [ngClass]="{'text': !this.signInformation['Examples'] }"
            (click)="showExamples = !showExamples"
          >
            Exemplos
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
