<nav
  id="title"
  class="navbar navbar-expand-lg row card-header bg-light shadow-sm navbar"
>
  <h4>Sinalização</h4>
  <div class="collapse navbar-collapse">
    <div class="col-4"></div>
    <ul class="navbar-nav col-5">
      <li class="nav-item ml-2 mr-2">
        <button type="button" class="btn btn-outline-secondary">
          Hierarquia
        </button>
      </li>
      <li class="nav-item mr-2">
        <button type="button" class="btn btn-outline-secondary">
          Validade
        </button>
      </li>
      <li class="nav-item mr-2">
        <button type="button" class="btn btn-outline-secondary">
          Colocação
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-secondary">
          Repetição
        </button>
      </li>
    </ul>
    <ul class="navbar-nav col-3">
      <li class="nav-item mr-2">
        <button type="button" class="btn btn-outline-danger">
          Sair
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-success">
          Teste Temático
        </button>
      </li>
    </ul>
  </div>
</nav>
<div class="row mt-5 mb-5">
  <div class="col-11 m-auto">
    <!-- <div class="card">
      <div class="card-header">Diagrama Sinalização</div>
      <div class="card-body p-5">
        <app-tree-diagram></app-tree-diagram>
      </div>
      <div class="card-footer text-center">Página Inicial</div>
    </div> -->
    <div class="card">
      <div class="card-header">Sinais Perigo</div>
      <div class="card-body pr-5 pl-5">
        <div class="row">
          <div class="col-10 m-auto">
            <div class="row main-box">
              <p class="mr-5 ml-5 mt-auto mb-auto" align="center">
                Indicam a existência ou a possibilidade de aparecimento de
                situações perigosas para o trânsito que imponham especial
                atenção e prudência.
              </p>
            </div>
            <div class="row">
              <div class="col-6">
                <a href="" class="text-dark ml-5"><fa name="play-circle" rotate="horizontal" size="3x"></fa></a>
              </div>
              <div class="col-6">
                <a href="" class="float-right text-dark mr-5"><fa name="play-circle" size="3x"></fa></a>
              </div>
            </div>
          </div>
          <div class="col-2">
            <ul class="sidenav">
              <li>
                <button class="btn btn-outline-secondary">Colocação</button>
              </li>
              <li class="mt-2">
                <button class="btn btn-outline-secondary">Outro</button>
              </li>
              <li class="mt-5">
                <button class="btn btn-outline-secondary">Exemplos</button>
              </li>
              <li class="mt-2">
                <button class="btn btn-outline-danger">Sair</button>
              </li>
              <li class="mt-5">
                <button class="btn btn-outline-success">Teste Temático</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">Sinalização</div>
    </div>
  </div>
</div>
