<nav
  id="title"
  class="navbar navbar-expand-lg row card-header bg-light shadow-sm navbar"
>
  <div class="col-1"></div>
  <div class="collapse navbar-collapse">
    <div class="col-7"></div>
    <ul class="navbar-nav col-4">
      <li class="nav-item ml-2 mr-2">
        <button type="button" class="btn btn-outline-secondary">
          Sinais
        </button>
      </li>
      <li class="nav-item mr-2">
        <button type="button" class="btn btn-outline-secondary">
          Regras
        </button>
      </li>
      <li class="nav-item mr-2">
        <button type="button" class="btn btn-outline-secondary">
          Manobras
        </button>
      </li>
      <li class="nav-item mr-2">
        <button type="button" class="btn btn-outline-secondary">
          Testes
        </button>
      </li>
    </ul>
    <ul class="navbar-nav col-1">
      <li class="nav-item">
        <button type="button" class="btn btn-outline-danger" routerLink="/">
          Retroceder
        </button>
      </li>
    </ul>
  </div>
</nav>
<div
  class="row"
  style="
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 6rem;
  "
>
  <div
    class="col-3 text-center my-auto"
    style="
    /* border: 1px solid red; */
    "
  >
    <div class="btn-group" role="group">
      <button
        type="button"
        class="btn btn-warning active"
        style="
        white-space: normal;
        border-radius: 20px"
      >
        Módulos Teórico-Práticos A e B
      </button>
    </div>
  </div>
  <div class="col-6 text-center my-auto">
    <div
      class="btn-group-vertical btn-block"
      role="group"
      style="
      padding-left: 4rem;
      padding-right: 4rem;
      "
    >
      <button
        type="button"
        class="btn btn-primary"
        style="
        margin-bottom: 2rem;
        white-space: normal;"
      >
        Perceção do risco I
      </button>
      <button
        type="button"
        class="btn btn-primary"
        style="
        margin-bottom: 2rem;
        white-space: normal;"
      >
        Perceção do risco II
      </button>
      <button
        type="button"
        class="btn btn-primary"
        style="
         margin-bottom: 2rem;
         white-space: normal;"
      >
        Distração na condução
      </button>
      <button
        type="button"
        class="btn btn-primary"
        style="
        white-space: normal;"
      >
        Eco-Condução
      </button>
    </div>
  </div>
</div>
