<app-tree-header></app-tree-header>
<div
  class="row"
  style="
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 4rem;
  "
>
  <div class="col-2 text-center my-auto">
    <div class="btn-group" role="group">
      <button
        type="button"
        class="btn btn-danger active"
        style="
        white-space: normal;
        border-radius: 20px;"
      >
        Disposições Comuns A e B
      </button>
    </div>
  </div>
  <div
    class="col-5 text-center my-auto"
    style="
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 20px;"
  >
    <div id="disCom" class="btn-group-vertical btn-block" role="group">
      <button
        type="button"
        class="btn btn-dark"
        (click)="onClickDispCom($event, 0)"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px"
      >
        Príncipios gerais de trânsito e segurança rodoviária
      </button>
      <button
        type="button"
        class="btn btn-dark"
        (click)="onClickDispCom($event, 1)"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        O condutor e o seu estado físico e psicológico
      </button>
      <button
        type="button"
        class="btn btn-dark"
        (click)="onClickDispCom($event, 2)"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        O condutor e o veículo
      </button>
      <button
        type="button"
        class="btn btn-dark"
        (click)="onClickDispCom($event, 3)"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        O condutor e os outros utentes da via
      </button>
      <button
        type="button"
        class="btn btn-dark"
        (click)="onClickDispCom($event, 4)"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        O condutor, a via e outros fatores externos
      </button>
      <button
        type="button"
        class="btn btn-dark"
        (click)="onClickDispCom($event, 5)"
        style="
        white-space: normal;
        border-radius: 20px;"
      >
        Diversos
      </button>
    </div>
  </div>
  <div
    class="col-5 text-center my-auto"
    *ngIf="dispCom[0]"
    style="
    padding-left: 4rem;
    padding-right: 4rem;
    "
  >
    <div class="btn-group-vertical btn-block" role="group">
      <button
        type="button"
        class="btn btn-dark"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        O sistema de circulação
      </button>
      <button
        type="button"
        class="btn btn-dark"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        O acidente
      </button>
      <button
        type="button"
        class="btn btn-dark"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        Função da condução
      </button>
      <button
        type="button"
        class="btn btn-dark"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        Tempo de reação
      </button>
      <button
        type="button"
        class="btn btn-dark"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        Sinalização
      </button>
      <button
        type="button"
        class="btn btn-dark"
        style="
        white-space: normal;
        border-radius: 20px;"
      >
        Regras de trânsito e manobras
      </button>
    </div>
  </div>
  <div
    class="col-5 text-center my-auto"
    *ngIf="dispCom[1]"
    style="
    padding-left: 4rem;
    padding-right: 4rem;
    "
  >
    <div class="btn-group-vertical btn-block" role="group">
      <button
        type="button"
        class="btn btn-dark"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        Visão e audição
      </button>
      <button
        type="button"
        class="btn btn-dark"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        Idade
      </button>
      <button
        type="button"
        class="btn btn-dark"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        Estados emocionais
      </button>
      <button
        type="button"
        class="btn btn-dark"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        Fadiga e sonolência
      </button>
      <button
        type="button"
        class="btn btn-dark"
        style="
        white-space: normal;
        border-radius: 20px;"
      >
        Álcool, medicamentos e substâncias psicotrópicas
      </button>
    </div>
  </div>
  <div
    class="col-5 text-center my-auto"
    *ngIf="dispCom[2]"
    style="
    padding-left: 4rem;
    padding-right: 4rem;
    "
  >
    <div class="btn-group-vertical btn-block" role="group">
      <button
        type="button"
        class="btn btn-dark"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        Constituintes do veículo
      </button>
      <button
        type="button"
        class="btn btn-dark"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        Inspeções periódicas obrigatórias
      </button>
      <button
        type="button"
        class="btn btn-dark"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        Proteção do ambiente
      </button>
      <button
        type="button"
        class="btn btn-dark"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        Transporte de passageiros e de carga
      </button>
      <button
        type="button"
        class="btn btn-dark"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        Visibilidade relativamente aos outros utentes da via
      </button>
      <button
        type="button"
        class="btn btn-dark"
        style="
        white-space: normal;
        border-radius: 20px;"
      >
        Equipamentos de segurança
      </button>
    </div>
  </div>
  <div
    class="col-5 text-center my-auto"
    *ngIf="dispCom[3]"
    style="
    padding-left: 4rem;
    padding-right: 4rem;
    "
  >
    <div class="btn-group-vertical btn-block" role="group">
      <button
        type="button"
        class="btn btn-dark"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        O comportamento a adotar perante os outros utentes
      </button>
      <button
        type="button"
        class="btn btn-dark"
        style="
        white-space: normal;
        border-radius: 20px;"
      >
        A condução defensiva
      </button>
    </div>
  </div>
  <div
    class="col-5 text-center my-auto"
    *ngIf="dispCom[4]"
    style="
    padding-left: 4rem;
    padding-right: 4rem;
    "
  >
    <div class="btn-group-vertical btn-block" role="group">
      <button
        type="button"
        class="btn btn-dark"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        Classificação das vias
      </button>
      <button
        type="button"
        class="btn btn-dark"
        style="
        white-space: normal;
        border-radius: 20px;"
      >
        Adaptação da condução às condições ambientes e da via
      </button>
    </div>
  </div>
  <div
    class="col-5 text-center my-auto"
    *ngIf="dispCom[5]"
    style="
    padding-left: 4rem;
    padding-right: 4rem;
    "
  >
    <div class="btn-group-vertical btn-block" role="group">
      <button
        type="button"
        class="btn btn-dark"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        Habilitação legal para conduzir
      </button>
      <button
        type="button"
        class="btn btn-dark"
        style="
        margin-bottom: 2rem;
        white-space: normal;
        border-radius: 20px;"
      >
        Responsabilidade
      </button>
      <button
        type="button"
        class="btn btn-dark"
        style="
        white-space: normal;
        border-radius: 20px;"
      >
        Comportamento em caso de acidente
      </button>
    </div>
  </div>
</div>
